<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About GCC</h2>
                <p></p>
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section id="event" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Upcoming Events</h2>
                <p></p>
            </div>
        </div>
    </section>
    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <p>
                    <a href="mailto:gccwaterloo@gmail.com" style="color:#e7d0ba;"><span class="glyphicon glyphicon-envelope"></span>gccwaterloo@gmail.com</a>
                </p>
            </div>
        </div>
    </section>
</body>
</html>