<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css" >
</head>
<body>
    <div class="images">
        <img src="/images/ProfilePicture.png" alt="Another image">
        <img src="/images/ProfilePicture.png" alt="Another image">
        <img src="/images/ProfilePicture.png" alt="Another image">
        <img src="/images/ProfilePicture.png" alt="Another image">
        <img src="/images/ProfilePicture.png" alt="Another image">
        <img src="/images/ProfilePicture.png" alt="Another image">
        <img src="/images/ProfilePicture.png" alt="Another image">
    </div>
</body>
</html>