<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css" >
</head>
<body>
    <div>
        <h2>
            MEET THE TEAM
        </h2>
    </div>

    <div class="images">
        <div>
            <img  src="/images/ProfilePicture.png" alt="Another image" />
            <p>
                test test<br />
                position<br />
            </p>
        </div>
        <div>
            <img  src="/images/ProfilePicture.png" alt="Another image" />
            <p>
                test test<br />
                position<br />
            </p>
        </div>
    </div>
</body>
</html>