<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/css/contact.css" >
</head>
<body>
    <div>
        <p>
            MEET THE TEAM
        </p>
    </div>
    <div class="images">
        <div>
            <img src="/images/ProfilePicture.png" alt="Another image" />
            <p>test test</p>
            <p>position</p>
        </div>
        <div>
            <img src="/images/ProfilePicture.png" alt="Another image" />
            <p>test test</p>
            <p>position</p>
        </div>
        <div>
            <img src="/images/ProfilePicture.png" alt="Another image" />
            <p>test test</p>
            <p>position</p>
        </div>
        <div>
            <img src="/images/ProfilePicture.png" alt="Another image" />
            <p>test test</p>
            <p>position</p>
        </div>
    </div>
</body>
</html>