<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GCC Waterloo">
    <title>GCC Waterloo</title>

    <link rel="stylesheet" href="/css/purecss.min.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/layouts/marketing.css">
    <link rel="stylesheet" href="/css/index2.css">
    <link rel="stylesheet" href="/css/about.css">
    <!--<![endif]-->
</head>
<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-item" href="/index.html"><img src="/images/gcclogo.png" alt="GCC logo" id="logo-nav-size"></a>
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="/index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="/Views/about.html" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/Views/optimize.html" class="pure-menu-link">Optimize</a></li>
                <li class="pure-menu-item"><a href="/Views/contact.html" class="pure-menu-link">Contact</a></li>
                <li class="pure-menu-item"><a href="/Views/sponsors.html" class="pure-menu-link">Sponsors</a></li>
            </ul>
        </div>
    </div>
    <div class="splash-container background-img">
            <div class="splash">
                <h1 class="splash-head">"Connecting You to the Right People and Resources"</h1>
                <p>
                    <a href="/Views/optimize.html" class="pure-button pure-button-primary">Current Events</a>
                    <a href="/Views/about.html" class="pure-button pure-button-primary">Join GCC</a>
                </p>
            </div>
    </div>
    <div class="content-wrapper">
        <div class="content gccglobal-section">
            <h2 class="content-head is-center"><img src="/images/gcclogo.png" alt="GCC logo" id="logo2"></h2>
            <h3 class="content-subhead is-center"><em>Building Relationships that will Change the World --- 联接成就未来</em></h3>
            <p class="is-center"><a href="http://www.gccglobal.org/" class="pure-button pure-button-primary is-center">Find out More</a></p>
            <div class="padding-100"></div>
        </div>
      
        <div class="footer l-box is-center">
            Copyright &copy; GCCWaterloo 2017
        </div>
    </div>


</body>
</html>
