<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sponsors</title>
</head>

<body>
    <div class="header">
        <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
            <a class="pure-menu-item" href="/index.html"><img src="/images/GCC_Logo_White.png" class="pure-img" alt="GCC logo" id="logo-nav-size"></a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/Views/index.html" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item pure-menu-selected"><a href="/Views/about.html" class="pure-menu-link">About</a></li>
                <li class="pure-menu-item"><a href="/Views/optimize.html" class="pure-menu-link">Optimize</a></li>
                <li class="pure-menu-item"><a href="/Views/contact.html" class="pure-menu-link">Contact</a></li>
                <li class="pure-menu-item"><a href="/Views/sponsors.html" class="pure-menu-link">Sponsors</a></li>
            </ul>
        </div>
    </div>

</body>
</html>
