#profiles div {
    display: inline-block;
    text-align: center;
    border: 1px solid #000;
    vertical-align: middle;
    padding: 0.5cm;
    margin-top: 0.5cm;
    margin-right:0.5cm;
}


#contact-footer{
    position: relative;
    z-index: 2;
}

#pres-msg{
    z-index: 1;
}

body{
    background-color: white;
}