.gccglobal-section {
    background-color: #8B161C;
    color: white;
}

.background-img {
    background-size: 100% auto;
    background-color: black;
    opacity: 0.7;
    background-image: url(/images/index_background.jpg);
}

#gcc-logo-center{

}
#logo-position {
    position: relative;
    top: -70px;
}

body{
    background-color: black;
}