.gccglobal-section {
    background-color: #8B161C;
    color: white;
    padding-left: 0px;
    padding-right: 0px;
}

.background-img {
    background-size: 100% auto;
    background-color: black;
    opacity: 0.7;
    background-image: url(/images/index_background.jpg);
}

#gcc-logo-center{
    position:relative;
    z-index: 2;
}
#logo-position {
    position: relative;
    top: -70px;
}

body{
    background-color: black;
}

#logo-nav-size {
    max-height: 40px;
}


.block-button-nav{
    background-color: black;
    position: relative;
    top: -120px;
}

.button-style-padding {
    margin-top: 100px;
}