body {
    background-color: #420000;
    color:#e7d0ba;
}

.navbar {
    color: #e7d0ba;
}

.page-scroll {
    color: #e7d0ba;
}


a:link {
    color: #e7d0ba;
}

/* visited link */
a:visited {
    color: #e7d0ba;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: green;
}